.about {
  padding-top: 25px;
  padding-bottom: 28px;
}

.about__title {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $mainFont;
  color: $black;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  position: relative;
  width: 260px;
  margin-right: auto;
  padding-top: 56px;
  padding-right: 10px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $mainFont;
  color: $black;

  &:last-child {
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--eco {
    &::before {
      top: 1px;
      left: 7px;
      width: 33px;
      height: 38px;
      background-image: url("../img/icon-feature-flower.svg");
    }
  }

  &--price {
    &::before {
      top: 3px;
      left: 0;
      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money.svg");
    }
  }

  &--like {
    &::before {
      top: 8px;
      left: 7px;
      width: 34px;
      height: 27px;
      background-image: url("../img//icon-feature-heart.svg");
    }
  }

  &--love {
    &::before {
      top: 6px;
      left: 3px;
      width: 35px;
      height: 34px;
      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--support {
    &::before {
      top: 6px;
      left: -6px;
      width: 55px;
      height: 23px;
      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--package {
    &::before {
      top: 4px;
      left: 3px;
      width: 33px;
      height: 32px;
      background-image: url("../img/icon-feature-gift.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 48px;
    padding-bottom: 43px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 50%;
    margin-right: 0;
    padding-top: 72px;
    padding-right: 0;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: 1;

      &::before {
        top: 18px;
        left: 8px;
      }
    }

    &--love {
      order: 2;

      &::before {
        top: 22px;
      }
    }

    &--price {
      order: 3;

      &::before {
        top: 19px;
        left: 1px;
      }
    }

    &--support {
      order: 4;

      &::before {
        top: 22px;
        left: -6px;
      }
    }

    &--like {
      order: 5;

      &::before {
        top: 23px;
        left: 7px;
      }
    }

    &--package {
      order: 6;

      &::before {
        top: 19px;
        left: 4px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 55px;
    padding-bottom: 49px;
  }

  .about__wrapper {
    padding: 0 225px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about__item {
    width: 45%;
    margin-right: 5%;
  }
}
