.about {
  padding-top: 25px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $mainFont;
  color: $black;
  margin: 0;
  padding-bottom: 30px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $mainFont;
  color: $black;
  padding-top: 55px;
  margin-bottom: 28px;
}
