.button {
  display: block;
  padding: 14px 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $mainFont;
  text-align: center;
  color: $textColor;
  text-transform: uppercase;
  border: 2px solid $grey;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: #ffffff;
    background-color: $grey;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
