.category {
  position: relative;
  display: block;
  padding: 24px 30px 31px;

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  &:hover {
    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &--interior {
    z-index: 2;
    background-color: #63d1bb;
    transition: background-color 0.3s ease;

    &::after {
      top: 24px;
      right: 36px;
      width: 40px;
      height: 62px;
      background-image: url("../img/icon-interior.svg");
    }

    &:hover {
      background-color: #59d5bc;
    }
  }

  &--toy {
    z-index: 3;
    background-color: #56c3b2;
    transition: background-color 0.3s ease;

    &::after {
      top: 21px;
      right: 27px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-toy.svg");
    }

    &:hover {
      background-color: #46c1ae;
    }
  }
}

.category:active .category__title {
  color: rgba($white, 0.3);
}

.category__title {
  position: relative;
  width: 130px;
  margin: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  font-family: $mainFont;
  color: $white;
  transition: color 0.3s ease;
}

@media (min-width: $tablet-width) {
  .category {
    flex-grow: 1;
    padding: 28px 35px 31px;

    &--interior {
      &::after {
        top: 30px;
        right: 37px;
      }
    }

    &--toy {
      &::after {
        top: 31px;
        right: 34px;
      }
    }
  }

  .category__title {
    font-size: 20px;
    line-height: 30px;
  }
}
