.checkbox {
  cursor: pointer;
}

.checkbox__label {
  position: relative;
  display: block;
  padding-left: 63px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: $mainFont;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: red;
  }
}

.checkbox__control:checked + .checkbox__label::before {
  background-color: green;
}

@media (min-width: $tablet-width) {
  .checkbox {
    flex-basis: 210px;
  }

  .checkbox__label {
    font-size: 19px;
    line-height: 18px;
    padding-top: 15px;
    padding-left: 80px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }
}
