.featured {
  padding-top: 27px;
  padding-bottom: 44px;
}

.featured__top {
  padding-bottom: 23px;
}

.featured__title {
  z-index: 1;
  margin: 0;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $mainFont;
  color: $black;
}

.featured__label {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $mainFont;
  color: $sea;
  text-transform: uppercase;
}

.featured__description {
  margin: 0;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 24px;
  font-family: $mainFont;
  color: $textColor;
}

.featured__properties {
  margin-bottom: 21px;
}

.featured__photo {
  padding-bottom: 24px;
  line-height: 0;
  background: red;
}

.featured__price {
  display: block;
  padding-bottom: 26px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $mainFont;
  text-align: center;
  color: $textColor;
}

@media (min-width: $tablet-width) {
  .featured {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .featured__top {
    display: flex;
    padding-bottom: 49px;
  }

  .featured__title {
    margin-right: auto;
    padding-bottom: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .featured__label {
    flex-basis: 127px;
    padding-top: 11px;
    padding-bottom: 0;
    line-height: 17px;
    text-align: center;
  }

  .featured__info {
    position: relative;
    box-sizing: content-box;
    width: 290px;
    flex-grow: 1;
    padding-right: 378px;
  }

  .featured__description {
    display: block;
    padding-bottom: 43px;
    font-size: 17px;
    line-height: 30px;
  }

  .featured__properties {
    width: 100%;
    margin-bottom: 50px;
  }

  .featured__photo {
    position: absolute;
    top: 8px;
    right: 0;
    width: 333px;
    height: 404px;
    padding-bottom: 0;
  }

  .featured__price {
    padding-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }

  .featured__button {
    max-width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .featured {
    padding-top: 123px;
    padding-bottom: 100px;
  }

  .featured__wrapper {
    display: block;
    padding-left: 275px;
  }

  .featured__info {
    width: 292px;
    padding-right: 583px;
  }

  .featured__top {
    position: relative;
  }

  .featured__title {
    width: 530px;
    font-size: 53px;
    line-height: 57px;
  }

  .featured__label {
    position: absolute;
    top: 15px;
    left: -133px;
    display: block;
    width: 80px;
    padding-top: 0;
  }

  .featured__description {
    position: relative;
    z-index: 1;
    padding-bottom: 55px;
  }

  .featured__properties {
    margin-bottom: 104px;
  }

  .featured__photo {
    top: -158px;
    width: 525px;
    height: 636px;
  }
}
