.input {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  border-bottom: 2px solid $black;
}

.input__label {
  padding-bottom: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: $mainFont;
  color: $black;
}

.input__control {
  font-size: 17px;
  line-height: 18px;
  color: $textColor;
  background: none;
  border: none;
}
