.input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input__label {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: $mainFont;
  color: $black;
}

.input__control {
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 18px;
  font-family: $mainFont;
  color: $textColor;
  background: none;
  border: none;
  border-bottom: 2px solid $black;
  transition: border-color 0.3s ease;

  &--email,
  &--tel {
    padding-top: 8px;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }
}

.input__control:hover + .input__icon,
.input__control:focus + .input__icon {
  fill: rgba(#62d1ba, 1);
}

.input__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: fill 0.3s ease;

  fill: rgba($black, 0.2);

  &.input__icon--phone {
    right: 9px;
    bottom: 17px;
  }

  &.input__icon--email {
    right: 4px;
    bottom: 9px;
  }
}

@media (min-width: $tablet-width) {
  .input {
    flex-direction: row;
    align-items: center;
    min-height: 54px;
  }

  .input__label,
  .input__control {
    padding: 0;
    font-size: 19px;
    line-height: 18px;
  }

  .input__label {
    margin-right: 25px;
  }

  .input__control {
    flex-grow: 1;
    padding: 13px 16px;
  }

  .input__icon {
    &.input__icon--phone {
      right: 27px;
    }

    &.input__icon--email {
      right: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .input__icon {
    &.input__icon--phone {
      right: 8px;
    }

    &.input__icon--email {
      right: 4px;
    }
  }
}
