.intro {
  padding: 71px 0;
  min-height: 283px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
}

.intro__title {
  display: block;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  font-family: $mainFont;
  text-align: center;
  color: $black;
}

@media (min-width: $tablet-width) {
  .intro {
    position: relative;
    padding: 111px 0;
    min-height: 585px;
    background-position: center 23px;

    &::before {
      content: "";
      position: absolute;
      top: -41px;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 250px;
      background-color: #f9f9f9;
    }
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 584px;
  }

  .intro__title {
    font-size: 53px;
    line-height: 57px;
  }
}
