.logo {
  display: block;
  width: 86px;
  height: 35px;
  line-height: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &.logo--footer {
    display: none;
    width: 102px;
    height: 34px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__image {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 113px;
    height: 46px;

    &.logo--footer {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 149px;
    height: 72px;
  }
}
