.logo {
  display: block;
  width: 86px;
  height: 35px;
  line-height: 0;
  cursor: pointer;

  &:hover {
    .logo__image {
      opacity: 0.6;
    }
  }

  &:active {
    .logo__image {
      opacity: 0.3;
    }
  }
}

.logo.logo--footer {
  display: none;
  width: 102px;
  height: 34px;

  .logo__image {
    transition: fill 0.3s ease, opacity 0.3s ease;

    fill: #231f20;
  }

  &:hover {
    .logo__image {
      opacity: 1;

      fill: #46c1ae;
    }
  }

  &:active {
    .logo__image {
      opacity: 0.3;
    }
  }
}

.logo__image {
  width: 100%;
  transition: opacity 0.3s ease;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 113px;
    height: 46px;

    &.logo--footer {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 149px;
    height: 72px;
  }
}
