.made {
  display: flex;
  align-items: center;
}

.made__label {
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  font-family: $mainFont;
  color: $black;
  margin-right: 30px;
}

.made__link {
  width: 27px;
  height: 34px;
  line-height: 0;
  margin-top: 3px;
}

.made__logo {
  width: 100%;
  fill: #63d1bb;
  transition: fill 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.made__link:hover .made__logo {
  fill: #46c1ae;
}

.made__link:active .made__logo {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .made__link {
    margin-top: 0;
  }
}
