.main-nav {
  position: relative;
}

.main-nav__wrapper {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &.main-nav__toggle--open {
    background-image: url("../img/icon-menu-close.svg");
  }
}
