.main-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  position: relative;
  min-height: 79px;
  padding: 27px 0;
  // box-shadow: 0 1px #ececec;

  &.main-menu__item--logo {
    padding: 22px 0;
  }

  &.main-menu__item--search,
  &.main-menu__item--cart {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    left: -30px;
    display: block;
    height: 1px;
    background-color: #ececec;
  }
}

.main-menu__logo {
  margin: 0 auto;
}

.main-menu__link {
  position: relative;
  margin-left: 17%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $mainFont;
  color: $black;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.main-menu__search-icon,
.main-menu__cart-icon {
  position: absolute;
  top: 5px;
  left: 2px;
  box-sizing: content-box;
  transition: fill 0.3s ease;

  fill: rgba($black, 0.2);
}

.main-menu__search-icon {
  width: 18px;
  height: 18px;
}

.main-menu__cart-icon {
  width: 21px;
  height: 18px;
}

.main-menu__link--search,
.main-menu__link--cart {
  margin-left: calc(17% - 45px);
  padding-left: 45px;

  &:hover {
    .main-menu__search-icon {
      fill: rgba($sea, 1);
    }

    .main-menu__cart-icon {
      fill: rgba($sea, 1);
    }
  }

  &:active {
    .main-menu__search-icon {
      fill: rgba($sea, 0.3);
    }

    .main-menu__cart-icon {
      fill: rgba($sea, 0.3);
    }
  }
}
