.making {
  padding-bottom: 58px;
}

.making:hover .making__info {
  box-shadow: 0 6px 10px 0 rgba($black, 0.1);
}

.making:active .making__info {
  box-shadow: 0 3px 5px 0 rgba($black, 0.1);
}

.making__title {
  position: relative;
  margin: 0;
  padding: 24px 0 24px 90px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $mainFont;
  color: $black;
  border: 1px solid #ececec;
  border-bottom: none;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 33px;
    display: block;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.making__process {
  position: relative;
  line-height: 0;
}

.making__video {
  width: 100%;
  height: auto;
}

.making__play {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 50px);
  width: 101px;
  height: 77px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.making__play-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.making__play:hover .making__play-icon {
  transform: scale(1.2);
}

.making__play:active .making__play-icon {
  transform: scale(0.8);
  opacity: 0.3;
}

.making__info {
  min-height: 257px;
  padding: 27px 33px;
  border: 1px solid #ececec;
  border-top: none;
  transition: box-shadow 0.3s ease;
}

.making__description {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: $mainFont;
  color: $textColor;
}

@media (min-width: $tablet-width) {
  .making {
    padding-bottom: 63px;
  }

  .making__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .making__title {
    order: 2;
    padding: 37px 0 10px 105px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: 37px;
      left: 41px;
    }
  }

  .making__process {
    order: 1;
    min-height: 455px;
  }

  .making__play {
    top: calc(50% - 39px);
    left: calc(50% - 51px);
    width: 102px;
    height: 78px;
  }

  .making__info {
    order: 3;
    min-height: 215px;
    padding: 22px 39px;
  }

  .making__description {
    padding-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .making__button {
    max-width: 584px;
    margin-left: 2px;
  }
}

@media (min-width: $desktop-width) {
  .making {
    padding-bottom: 105px;
  }

  .making__title {
    width: 369px;
    margin-left: auto;
    padding: 95px 78px 33px;

    &::before {
      top: 46px;
      left: 78px;
    }
  }

  .making__info {
    width: 369px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 57px;
    padding-bottom: 59px;
    padding-left: 78px;
  }

  .making__description {
    padding-bottom: 46px;
  }

  .making__process {
    position: absolute;
    top: 0;
    left: 50px;
    width: calc(100% - 469px);
    min-height: 455px;
  }

  .making__play {
    top: 189px;
    left: 291px;
  }
}
