.order {
  padding-top: 22px;
  padding-bottom: 55px;
}

.order__intro {
  margin: 0;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: $mainFont;
  color: $textColor;
}

@media (min-width: $tablet-width) {
  .order {
    padding-top: 73px;
    padding-bottom: 50px;
  }

  .order__wrapper {
    padding: 0;
  }

  .order__intro {
    padding: 0 50px 5px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .order__intro {
    display: block;
    padding: 0 225px 5px;
    padding-bottom: 5px;
    font-size: 17px;
    line-height: 30px;
  }
}
