.order-form {
  padding-top: 24px;
}

.order-form__group {
  position: relative;
  padding-bottom: 1px;

  &.order-form__group--person {
    padding-bottom: 9px;
  }

  &.order-form__group--tel {
    padding-bottom: 10px;
  }

  &.order-form__group--email {
    padding-bottom: 10px;
  }
}


.order-form__title {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  font-family: $mainFont;
  color: $sea;
  text-transform: uppercase;
}

.order-form__radio {
  display: block;
  min-height: 40px;
  margin: 20px 0;
}

.order-form__checkbox {
  display: block;
  min-height: 40px;
  margin: 20px 0 21px;
}

.order-form__input {
  display: block;
  margin: 13px 0 22px;

  &:first-of-type:last-of-type {
    margin: 7px 0 22px;
  }
}

.order-form__textarea {
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;
}

.order-form__description {
  display: block;
  padding-bottom: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $mainFont;
  color: $textColor;
}

.order-form__button {
  width: 100%;
}
