.product {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.product__photo {
  display: block;
  line-height: 0;
}

.product__info {
  padding: 26px 28px 27px;
  border: 1px solid #ececec;
  border-top: none;
}

.product__about {
  padding-bottom: 19px;
}

.product__link {
  display: block;
  padding-bottom: 6px;
  text-decoration: none;
}

.product__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $mainFont;
  color: $black;
}

.product__properties {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  font-family: $mainFont;
  color: $textColor;
}

.product__buy {
  display: flex;
  position: relative;
  // margin: 0 28px;
  padding-top: 22px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  font-family: $mainFont;
  color: $black;
  margin-right: auto;
}

.product__cart {
  border: none;
  width: 20px;
  height: 19px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
