.radio {
  display: flex;
  box-sizing: content-box;
  min-height: 40px;
  cursor: pointer;
}

.radio__label {
  min-height: 40px;
  position: relative;
  display: block;
  padding-left: 63px;
  padding-top: 12px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: $mainFont;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: red;
  }
}

.radio__control:checked + .radio__label::before {
  background-color: green;
}

@media (min-width: $tablet-width) {
  .radio {
    display: flex;
    align-items: center;
    min-height: 52px;
  }

  .radio__label {
    padding-left: 81px;
    font-size: 19px;
    line-height: 18px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }
}
