.review {
  padding-top: 12px;
}

.review__text {
  margin: 0;
  padding-bottom: 27px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: $mainFont;
  color: $textColor;
}

.review__author {
  display: block;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $mainFont;
  color: $black;
}

.review__contact {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  font-family: $mainFont;
  color: $textColor;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .review {
    padding-top: 0;
  }

  .review__text {
    padding-bottom: 59px;
    font-size: 17px;
    line-height: 30px;
  }

  .review__author,
  .review__contact {
    display: block;
    width: 350px;
  }

  .review__author {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .review__text {
    padding-bottom: 40px;
    width: 775px;
  }

  .review__author {
    font-size: 17px;
  }
}
