.size-form {
  display: flex;
  flex-wrap: wrap;
}

.size-form__radio {
  margin-right: 7px;
  margin-bottom: 31px;

  &:last-of-type {
    margin-right: 0;
  }
}

.size-form__button {
  display: block;
  width: 100%;
  padding: 16px 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  font-family: $mainFont;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #63d1bb;
  border: 2px solid #63d1bb;
  border-color: #63d1bb;
  cursor: pointer;
}
