.slider {
  position: relative;
}

.slider__slides {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  list-style: none;
}

.slider__controls {
  display: flex;
  border: 1px solid #ececec;
}

.slider__to-prev,
.slider__to-next {
  position: relative;
  flex-basis: 50%;
  height: 50px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

.slider__to-prev {
  background-image: url("../img/icon-left-arrow.svg");

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ececec;
  }
}

.slider__to-next {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: $tablet-width) {
  .slider__slides {
    padding-bottom: 0;
  }

  .slider__controls {
    position: absolute;
    right: 3px;
    bottom: 4px;
    width: 167px;
    border: none;
  }

  .slider__to-prev {
    &::after {
      display: none;
    }
  }
}
