.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 43px;

  &:last-child {
    margin-right: 0;
  }

  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }
}

.social__icon {
  width: 100%;
  fill: #231f20;
  transition: fill 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.social__link:hover .social__icon {
  fill: #46c1ae;
}

.social__link:active .social__icon {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .social {
    width: auto;
  }
}
