.table {
  border-collapse: collapse;
  width: 100%;
}

.table__cell {
  padding: 0;
  padding-bottom: 8px;
  padding-top: 7px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: $mainFont;
  text-align: left;
  color: $textColor;

  border-bottom: 1px solid #ececec;

  &:first-child {
    width: 99px;
  }
}
