.textarea {
  width: 100%;
  min-height: 142px;
  padding: 14px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: $mainFont;
  color: $textColor;
  border: 2px solid $black;
  resize: vertical;
  transition: border-color 0.3s ease;

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }
}

@media (min-width: $tablet-width) {
  .textarea {
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .textarea {
    width: calc(100% - 112px);
  }
}
